In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
df.shape

(400, 5)

In [16]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [11]:
X = df.iloc[:,[2,3]]
# X = df.drop(["User ID","Gender","Purchased"],axis = "columns")
y = df.iloc[:,4]
# y = df["Purchased"]

In [12]:
X.head(5)

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [13]:
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [40]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 0)

In [41]:
print(X_train.shape)
X_test.shape

(300, 2)

(100, 2)

In [42]:

from sklearn.preprocessing import StandardScaler

In [43]:
sc_X  =StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [44]:
from sklearn.svm import SVC

In [45]:
model = SVC(kernel = "linear")#,random_state = 0)
model.fit(X_train,y_train)
prediction = model.predict(X_test)
prediction

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [46]:
print(y_test)

132    0
309    0
341    0
196    0
246    0
      ..
146    1
135    0
390    1
264    1
364    1
Name: Purchased, Length: 100, dtype: int64

In [47]:
from sklearn import metrics

In [48]:
Score = metrics.accuracy_score(prediction,y_test)
Score

0.88

In [50]:
# from sklearn import metrics
# from sklearn.svm import SVC
model1 = SVC(kernel = "rbf")# rbf - radio basis function
model1.fit(X_train,y_train)
prediction1 = model1.predict(X_test)
Score1 = metrics.accuracy_score(prediction1,y_test)
Score1

0.93

In [51]:
# going with gamma and c in rbf
#gamma value is  high means checks the nearest point of the line that classify if low it take all points for consideration
#c value is the number error fluctions handling, if high gvie more accurate result, if low give less acuracy result

In [ ]:
model2 = SVC(kernel = "rbf",gamma = 5,C = 7)
model2.fit(X_train,y_train)
prediction2  = model2.predict(X_test)
Score2 = metrics.accuracy_score(prediction2,y_test)
Score2

In [ ]:
model4 = SVC(kernel = "poly", degree = 5)
model4.fit(X_train,y_train)
prediction4 = model4.predict(X_test)
Score4 = metrics.accuracy_score(prediction4,y_test)
Score4