In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder

df = pd.read_csv('other-Federal_02216.csv')
df.head()

,Date,Time,PU_Address,DO_Address,Routing Details,PU_Address.1,Status,Status_numerical
0,07-01-2014,7:15 AM,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;","1 Brookdale Plaza, BK NY;","PU: Brooklyn Museum, 200 Eastern Pkwy., BK NY;...","Brooklyn Museum, 200 Eastern Pkwy., BK NY; DO:...",Cancelled,0
1,07-01-2014,7:30 AM,"33 Robert Dr., Short Hills NJ;","John F Kennedy International Airport, vitona A...","PU: 33 Robert Dr., Short Hills NJ; DO: John F ...","33 Robert Dr., Short Hills NJ; DO: John F Kenn...",Arrived,1
2,07-01-2014,8:00 AM,"60 Glenmore Ave., BK NY;","2171 Nostrand Ave., BK NY;","PU: 60 Glenmore Ave., BK NY; DO: 2171 Nostrand...","60 Glenmore Ave., BK NY; DO: 2171 Nostrand Ave...",Assigned,0
3,07-01-2014,9:00 AM,"128 East 31 St., BK NY;","369 93rd St., BK NY;","PU: 128 East 31 St., BK NY; DO: 369 93rd St., ...","128 East 31 St., BK NY; DO: 369 93rd St., BK NY;",Assigned,0
4,07-01-2014,9:30 AM,"139-39 35 Ave., Flushing NY;",La Guardia Airport;,"PU: 139-39 35 Ave., Flushing NY; DO: La Guardi...","139-39 35 Ave., Flushing NY; DO: La Guardia Ai...",Assigned,0

In [6]:
df.shape

(276, 8)

In [7]:
X = df.iloc[:, [2,3]]
Y = df.iloc[:, 7]

In [8]:
X.head()

,PU_Address,DO_Address
0,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;","1 Brookdale Plaza, BK NY;"
1,"33 Robert Dr., Short Hills NJ;","John F Kennedy International Airport, vitona A..."
2,"60 Glenmore Ave., BK NY;","2171 Nostrand Ave., BK NY;"
3,"128 East 31 St., BK NY;","369 93rd St., BK NY;"
4,"139-39 35 Ave., Flushing NY;",La Guardia Airport;

In [9]:
Y.head()

0    0
1    1
2    0
3    0
4    0
Name: Status_numerical, dtype: int64

In [10]:
le = LabelEncoder()
X = X.apply(le.fit_transform)

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.25,random_state = 0)

In [12]:
print("Training data : ",X_train.shape)
print("Training data : ",X_test.shape)

Training data :  (207, 2)
Training data :  (69, 2)

In [13]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [14]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear',random_state = 0)
classifier.fit(X_train,Y_train)

SVC(kernel='linear', random_state=0)

In [15]:
Y_Pred = classifier.predict(X_test)
Y_Pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [16]:
from sklearn import metrics
print('Accuracy score with linear kernel')
print(metrics.accuracy_score(Y_test,Y_Pred))

Accuracy score with linear kernel
0.5362318840579711

In [17]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf')
classifier.fit(X_train,Y_train)

Y_Pred = classifier.predict(X_test)

print('Accuracy score with rbf kernel')
print(metrics.accuracy_score(Y_test,Y_Pred))

Accuracy score with rbf kernel
0.5072463768115942

In [25]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', gamma = 15, C = 7,random_state = 0)
classifier.fit(X_train,Y_train)

Y_Pred = classifier.predict(X_test)

print('Accuracy score with rbf kernel')
print(metrics.accuracy_score(Y_test,Y_Pred))

Accuracy score with rbf kernel
0.5507246376811594

In [19]:
svc = SVC(kernel = 'poly', degree = 4)
svc.fit(X_train,Y_train)

Y_Pred = svc.predict(X_test)

print('Accuracy score with poly kernel and degree')
print(metrics.accuracy_score(Y_test,Y_Pred))

Accuracy score with poly kernel and degree
0.42028985507246375